mixin article(data)
  - var head = data.Head;
  - var body = data.Bodies;
  - var imgBase = 'http://ram.komica2.net/00/src/';
  - var imgThumBase = 'http://ram.komica2.net/00/thumb/'
  article.col-xs-12.clearfix(data-number= head.No)
    header.col-xs-12.imgInfo
      h4.info= '檔名: '
        a(href= imgBase + head.Picture, target='_blank')= head.Picture
    section.content.col-xs-12
      div.contentSection.col-xs-12
        if head.Picture
          - var picName = head.Picture.replace(/^(.+?)\..+$/, '$1s.jpg');
          a.imgContainer
            img(src= imgThumBase + picName)
        +articleHeader(head)
        section
          p.content= head.Content
        each reply in body
          +replyBox(reply)

mixin replyBox(reply)
  section.replyBox.clearfix
    +articleHeader(reply)
    p.content= reply.Content

mixin articleHeader(info)
  header
    if info.Title != ''
      span.title= info.Title
    span.name= info.Name
    span.date= info.Date
    span.time= info.Time
    span.id= 'ID:' + info.Id
    span.num
      a= 'No.' + info.No
    span.del
      a 刪除
    span.res
      a 回覆

div.container
  each discussion in pageContent
    +article(discussion)

  p !{JSON.stringify(pageContent)}


