- var imgBase = 'http://ram.komica2.net/00/src/';
- var imgThumBase = 'http://ram.komica2.net/00/thumb/'
mixin article(data)
  - var head = data.Head;
  - var body = data.Bodies;
  article.thread.col-xs-12.clearfix(id=head.No , data-number=head.No)
    form
      if head.Picture
        //- show image information if image exists
        header.col-xs-12.imgInfo
          h4.info= '檔名: '
            a.link(href=imgBase + head.Picture, target='_blank')= head.Picture
      section.contentSection.col-xs-12
        if head.Picture
          //- show image if image exists, use REGEX to get image filename
          - var picName = head.Picture.replace(/^(.+?)\..+$/, '$1s.jpg')
          a.imgContainer(onclick='showImg(this)', data-ori=imgBase + head.Picture, data-thumb=imgThumBase + picName)
            img(src=imgThumBase + picName)
        +articleHeader(head, 'main')
        section.mainContent
          p.content
            //- replace \n with <br>
            - var split = head.Content.split('\n')
            each text in split
              | #{text}
              br
          p.quotedList
            span.text Replies(
              span.quotedNum 0
              | ):
        each reply in body
          +replyBox(reply)

mixin replyBox(reply)
  section.replyBox.clearfix(id=reply.No, data-number=reply.No)
    +articleHeader(reply, 'reply')
    if reply.Picture
      section.col-xs-12.imgInfo
        h4.info= '檔名: '
          a.link(href=imgBase + reply.Picture, target='_blank')= reply.Picture
      //- there exist a ($filename)s.jpg file for each image, use Regex to get the url
      - var picName = reply.Picture.replace(/^(.+?)\..+$/, '$1s.jpg');
      a.imgContainer(onclick='showImg(this)', data-ori=imgBase + reply.Picture, data-thumb=imgThumBase + picName)
        img(src=imgThumBase + picName)
    - var split = reply.Content.split('\n')
    p.content
      each text in split
        | #{text}
        br
    p.quotedList
      span.text Replies(
        span.quotedNum 0
        | ):

mixin articleHeader(info, t)
  header(data-type=t)
    if info.Title != ''
      span.title= info.Title
    span.name= info.Name
    span.date= info.Date
    span.time= info.Time
    span.id.quotable(data-quotetype= 'id', data-id= info.Id)= 'ID:' + info.Id
    span.num(data-num= info.No)
      a.link.quotable(data-quotetype= 'num', data-num= info.No)= 'No.' + info.No
    span.del
      a.link 刪除
    span.res
      a.link 回覆

mixin postForm(labelText, id, placeholder, type)
  section.postInfo(data-id=id)
    label
      h4.label= labelText
      if type == 'text' || type == 'file'
        input(id=id, placeholder=placeholder, type=type, maxlength='100')
      else
        textarea(id=id, placeholder=placeholder)
    if block
      block

div.container
  header.pageTitle
    h1 Horrific Island?
    h2 (目前僅有爬 K 島之功能，API尚未搭建 Github:
      a(href='https://github.com/komica-random-person/HorrificIsland', target='_blank') Link
      | )

  //- postArticle
  section.postContainer
    form.postTable
      +postForm('名稱', 'postName', '名無し', 'text')
      +postForm('標題', 'postTitle', '無題', 'text')
      +postForm('', 'postContent', '想聊些什麼？', 'textarea')
        section.controlPannel
          div.function.active
            i.fas.fa-file-image
          div.function
            i.far.fa-grin-squint
          div.function
            i.fas.fa-torah
          section.image
            input(type='text', placeholder='請輸入圖片/影片之網址')
      section.submission
        section.addition
          label
            input(type='checkbox', id='allowComment', checked)
            div.btn.btn-on 留言: 開
            div.btn.btn-off 留言: 關
        div#submit.btn.btn-default 開串！

  each discussion in pageContent
    +article(discussion)

  section#hoverBox.hoverBox

  div.bar.clearfix.col-xs-12
  h3 (下面是DEBUG訊息請無視)
  p.debug= JSON.stringify(pageContent)



