- function formatNum(n, length=8) {
-   var base = '';
-   for(var i = 0; i < length; i++) base += 0;
-   return (base + n).split('').reverse().slice(0, length).reverse().join(''); 
- }
mixin article(data, articleType)
  - var post = data.post;
  - var replies = data.replies;
  - post.number = formatNum(post.number);
  article.thread.col-xs-12.clearfix(id=post.number , data-number=post.number, data-articletype=articleType)
    form
      if post.image.url
        //- show image information if image exists
        header.col-xs-12.imgInfo
          h4.info= '檔名: '
            - var s = post.image.url.split('/');
            a.link(href=post.image.url, target='_blank')= s[s.length - 1]
      section.contentSection.col-xs-12
        if post.image.url
          a.imgContainer(onclick='showImg(this)', data-ori=post.image.url, data-thumb=post.image.thumb)
            img(src=post.image.thumb)
        +articleHeader(post, 'post', articleType)
        section.mainContent
          p.content
            //- replace \n with <br>
            - post.content = post.content || '無本文'
            - var split = post.content.split('\n')
            each text in split
              span= text
              br
          if post.tags.length > 0
            section.tagContainer
              each tag in post.tags
                span.tag.m-r-1.link= '#' + tag
              span.addTag.hidden
                i.fas.fa-plus-circle
          p.quotedList
            span.text Replies(
              span.quotedNum 0
              | ):
        each reply in replies
          +replyBox(reply, articleType)

mixin replyBox(reply, articleType)
  - reply.number = formatNum(reply.number);
  section.replyBox.clearfix(id=reply.number, data-number=reply.number)
    +articleHeader(reply, 'reply', articleType)
    if reply.image.url
      section.col-xs-12.imgInfo
        h4.info= '檔名: '
          - var s = reply.image.url.split('/')
          a.link(href=reply.image.url, target='_blank')= s[s.length - 1]
      //- there exist a ($filename)s.jpg file for each image, use Regex to get the url
      a.imgContainer(onclick='showImg(this)', data-ori=reply.image.url, data-thumb=reply.image.thumb)
        img(src=reply.image.thumb)
    - var content = reply.content || '無本文'
    - var split = content.split('\n')
    p.content
      each text in split
        span= text
        br
    p.quotedList
      span.text Replies(
        span.quotedNum 0
        | ):

mixin articleHeader(info, t, type)
  - var typeString = { komica: '【Komica】', hisland: '【H-Island】' }
  - info.number = formatNum(info.number)
  header(data-type=t)
    section.articleControlPannel
      label
        input.pannelSwitch(type='checkbox')
        i.fas.fa-angle-right.off
        i.fas.fa-angle-double-down.on
      section.control
        ul
          li.btn.btn-default(data-act='hide')= t == 'reply' ? '隱藏本文' : '隱藏本串'
          li.btn.btn-default 篩選器&nbsp;
            i.fas.fa-angle-double-right
            section.hid-submenu
              ul
                li.btn.btn-default(data-act='filter') 過濾 ID
                li.btn.btn-default(data-act='localFilter') 本串過濾 ID
          li.btn.btn-default(data-act='delete') 刪除/折疊
          li.btn.btn-default(data-act='report') 回報
    span.articleType= typeString[type]
    if info.Title != '' && t == 'post'
      span.title= info.title || '無題'
    span.name= info.name || '名無し'
    - var time = new Date(info.time)
    span.date= time.getFullYear() + '/' + formatNum(time.getMonth() + 1, 2) + '/' + formatNum(time.getDate(), 2)
    span.time= formatNum(time.getHours(), 2) + ':' + formatNum(time.getMinutes(), 2) + ':' + formatNum(time.getMilliseconds(), 3)
    span.id.quotable(data-quotetype= 'id', data-id= info.id)= 'ID:' + info.id
    span.num(data-num= info.number)
      a.link.quotable(data-quotetype= 'num', data-num= info.number)= 'No.' + info.number
    //- if type != 'komica'
      span.del
        a.link 刪除
    - var href = type == 'hisland' ? '/thread/' + Number(info.number) : 'https://sora.komica.org/00/pixmicat.php?res=' + Number(info.number)
    span.res
      | [&nbsp
      a.link(href= href, target= type == 'komica' ? '_blank' : '') 回覆
      | &nbsp]

mixin postForm(labelText, id, placeholder, type)
  section.postInfo(data-id=id)
    label
      h4.label= labelText
      if type == 'text' || type == 'file'
        - var m_length = id == 'postTitle' ? 25 : 10
        input(id=id, placeholder=placeholder, type=type, maxlength=m_length, autocomplete='off')
      else
        textarea(id=id, placeholder=placeholder)
    if block
      block

div.container
  header.pageTitle
    h1 Horrific Island
    h2 Github:&nbsp;
      a(href='https://github.com/komica-random-person/HorrificIsland', target='_blank') Link
      | &nbsp;&nbsp;Discord: &nbsp;
      a(href="https://discord.gg/9Nwfms7", target='_blank') Link
      | &nbsp;&nbsp;複製文庫: &nbsp;
      a(href="https://komicapy.blogspot.com/", target='_blank') Link
    h3 H-island 目前仍為測試版，所有文章可能會被管理員全部刪除，請大家見諒
    h3#APIstatus API Server 狀態：
      span.success
        i.fas.fa-thumbs-up
        | &nbsp;正常運作
      span.fail
        i.fas.fa-exclamation-triangle
        | 無法連接

  //- postArticle
  section.postContainer(data-number= pageContent.replyFormat ? formatNum(pageContent.hisland[0].post.number) : '')
    form#postTable.postTable
      section.exit
        div.btn.btn-danger
          i.fas.fa-times-circle
      if pageContent.replyFormat
        header
          h4 [
            a.link(href='/') 回到列表
            | ]
      +postForm('名稱', 'postName', '名無し', 'text')
      if !pageContent.replyFormat
        //- replyFormat 代表是回復模式(看單一串)
        +postForm('標題', 'postTitle', '無題', 'text')
      +postForm('', 'postContent', '想聊些什麼？', 'textarea')
        section.controlPannel
          div.function(data-type='image')
            label
              input(type='checkbox', name='func', data-target='image')
              i.fas.fa-file-image
              i.fas.fa-file-image.on
            span.tooltips 上傳圖片/使用網址附加圖片
          if !pageContent.replyFormat
            div.function(data-type='hashtag')
              label
                input(type='checkbox', name='func', data-target='hashtag')
                i.fas.fa-hashtag
                i.fas.fa-hashtag.on
              span.tooltips 將串加入 hashtags
          div.function(data-type='emoji')
            label
              input(type='checkbox', name='func')
              i.far.fa-grin-squint
              i.far.fa-grin-squint.on
            span.tooltips 開啟顏文字庫
          div.function(data-type='copyLibrary')
            label
              input(type='checkbox', name='func')
              i.fas.fa-torah
              i.fas.fa-torah.on
            span.tooltips 開啟複製文庫
          section.hidden-func.hashtag
            input(id='hashtags', type='text', placeholder='將你的串加入標籤, 用半形逗號分隔', autocomplete='off')
          section.hidden-func.image
            input(id='imgurl', type='text', placeholder='輸入圖片/影片之網址或拖曳圖片檔案到此', autocomplete='off')
            div.hidden.btn.btn-default(onclick='this.nextSibling.click()')
              i.far.fa-file-image
              | &nbsp;選擇檔案
            input(id='imgfile', type='file', accept='.png,.jpg,.jpeg,.webm,.PNG,.JPG,.JPEG,.gif,.GIF')
      section.submission
        if !pageContent.replyFormat
          section.addition
            label
              input(type='checkbox', id='allowComment', checked)
              div.btn.btn-on 留言: 開
              div.btn.btn-off 留言: 關
        div#submit.btn.btn-default(data-type= pageContent.replyFormat ? 'reply' : 'post')= pageContent.replyFormat ? '回復' : '開串！'

  main.articleContainer.col-xs-12.clearfix
    if pageContent.hisland != undefined
      each discussion in pageContent.hisland
        +article(discussion, 'hisland')
    if pageContent.komica != undefined
      each discussion in pageContent.komica
        +article(discussion, 'komica')

  section#hoverBox.hoverBox

  div.bar.clearfix.col-xs-12
  h3 (下面是DEBUG訊息請無視)
  p.debug= JSON.stringify(pageContent)

section#infoBox.hidden
  section.mainContent
    header
      h2 This is header
    main
      p TEST
      section.btnContainer
        button.btn.btn-default Button
section#mask.hidden

section#userPannel
  section.in-block.user
    | [&nbsp;
    span#userId
    | &nbsp;]
  section.in-block.userFuncContainer
    label(for='userPannelSwitch')
      | [&nbsp;
      span.link 控制面版
      | &nbsp;]
    input#userPannelSwitch(type='checkbox')
    ul.in-block.userPannel
      li.btn.btn-default.level
        | NGID 相關&nbsp;
        i.fas.fa-angle-double-right
        ul.in-block
          li.btn.btn-default(data-target='hidden') 取消隱藏文章
          li.btn.btn-default(data-target='ngid_list') NGID 一覽
          li.btn.btn-default(data-target='ngid_export') 匯出 NGID 名單
          li.btn.btn-default(data-target='ngid_import') 匯入 NGID 名單
      li.btn.btn-default.level
        | 複製文庫&nbsp;
        i.fas.fa-angle-double-right
        ul.in-block
          li.btn.btn-default(data-target='article_list') 複製文一覽(未做)
          li.btn.btn-default(data-target='article_export') 匯出複製文庫 (未做)
          li.btn.btn-default(data-target='article_import') 匯入複製文庫 (未做)
