mixin article(data, articleType)
  - var post = data.post;
  - var replies = data.replies;
  article.thread.col-xs-12.clearfix(id=post.number , data-number=post.number, data-articletype=articleType)
    form
      if post.image.url
        //- show image information if image exists
        header.col-xs-12.imgInfo
          h4.info= '檔名: '
            - var s = post.image.url.split('/');
            a.link(href=post.image.url, target='_blank')= s[s.length - 1]
      section.contentSection.col-xs-12
        if post.image.url
          a.imgContainer(onclick='showImg(this)', data-ori=post.image.url, data-thumb=post.image.thumb)
            img(src=post.image.thumb)
        +articleHeader(post, 'main', articleType)
        section.mainContent
          p.content
            //- replace \n with <br>
            - var split = post.content.split('\n')
            each text in split
              span= text
              br
          p.quotedList
            span.text Replies(
              span.quotedNum 0
              | ):
        each reply in replies
          +replyBox(reply, articleType)

mixin replyBox(reply, articleType)
  section.replyBox.clearfix(id=reply.number, data-number=reply.number)
    +articleHeader(reply, 'reply', articleType)
    if reply.image.url
      section.col-xs-12.imgInfo
        h4.info= '檔名: '
          - var s = reply.image.url.split('/')
          a.link(href=reply.image.url, target='_blank')= s[s.length - 1]
      //- there exist a ($filename)s.jpg file for each image, use Regex to get the url
      a.imgContainer(onclick='showImg(this)', data-ori=reply.image.url, data-thumb=reply.image.thumb)
        img(src=reply.image.thumb)
    - var split = reply.content.split('\n')
    p.content
      each text in split
        span= text
        br
    p.quotedList
      span.text Replies(
        span.quotedNum 0
        | ):

mixin articleHeader(info, t, type)
  - var typeString = { komica: '【Komica】', hisland: '【H-Island】' }
  header(data-type=t)
    span.articleType= typeString[type]
    if info.Title != ''
      span.title= info.title
    span.name= info.name
    - var time = new Date(info.time)
    span.date= time.getFullYear() + '/' + (time.getMonth() + 1) + '/' + time.getDate()
    span.time= time.getHours() + ':' + time.getMinutes() + ':' + time.getMilliseconds()
    span.id.quotable(data-quotetype= 'id', data-id= info.id)= 'ID:' + info.id
    span.num(data-num= info.number)
      a.link.quotable(data-quotetype= 'num', data-num= info.number)= 'No.' + info.number
    if type != 'komica'
      span.del
        a.link 刪除
    span.res
      | [
      a.link 回覆
      | ]

mixin postForm(labelText, id, placeholder, type)
  section.postInfo(data-id=id)
    label
      h4.label= labelText
      if type == 'text' || type == 'file'
        input(id=id, placeholder=placeholder, type=type, maxlength='100', autocomplete='off')
      else
        textarea(id=id, placeholder=placeholder)
    if block
      block

div.container
  header.pageTitle
    h1 Horrific Island?
    h2 (目前僅有爬 K 島之功能，API尚未搭建。 Github:
      a(href='https://github.com/komica-random-person/HorrificIsland', target='_blank') Link
      | )

  //- postArticle
  section.postContainer
    form#postTable.postTable
      section.exit
        div.btn.btn-danger
          i.fas.fa-times-circle
      +postForm('名稱', 'postName', '名無し', 'text')
      +postForm('標題', 'postTitle', '無題', 'text')
      +postForm('', 'postContent', '想聊些什麼？', 'textarea')
        section.controlPannel
          div.function
            label
              input(type='checkbox', name='func', data-target='image')
              i.fas.fa-file-image
              i.fas.fa-file-image.on
            span.tooltips 上傳圖片/使用網址附加圖片
          div.function
            label
              input(type='checkbox', name='func', data-target='hashtag')
              i.fas.fa-hashtag
              i.fas.fa-hashtag.on
            span.tooltips 將串加入 hashtags
          div.function
            label
              input(type='checkbox', name='func')
              i.far.fa-grin-squint
              i.far.fa-grin-squint.on
            span.tooltips 開啟顏文字庫
          div.function
            label
              input(type='checkbox', name='func')
              i.fas.fa-torah
              i.fas.fa-torah.on
            span.tooltips 開啟複製文庫
          section.hidden-func.hashtag
            input(id='hashtags', type='text', placeholder='將你的串加入標籤, 用半形逗號分隔', autocomplete='off')
          section.hidden-func.image
            input(id='imgurl', type='text', placeholder='輸入圖片/影片之網址或拖曳圖片檔案到此', autocomplete='off')
            input(id='imgfile', type='file', accept='.png,.jpg,.jpeg,.webm,.PNG,.JPG,.JPEG,.gif,.GIF')
      section.submission
        section.addition
          label
            input(type='checkbox', id='allowComment', checked)
            div.btn.btn-on 留言: 開
            div.btn.btn-off 留言: 關
        div#submit.btn.btn-default 開串！

  each discussion in pageContent.hisland
    +article(discussion, 'hisland')
  each discussion in pageContent.komica
    +article(discussion, 'komica')

  section#hoverBox.hoverBox

  div.bar.clearfix.col-xs-12
  h3 (下面是DEBUG訊息請無視)
  p.debug= JSON.stringify(pageContent)



